.encabezado{
    position: relative;
}

#titulo, #tituloB{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100%;
    font-size: 7vw;
}

#imagenfondo{
    position: absolute;
}

#cuerpo{
    top: -30px;  
}

.fondo{
    background-image: url(img/fondo.jpg);
    background-repeat: repeat;
    background-size: 100%;
    position: relative;  
}

.ml-5{
    position: relative;
}

.background-inputs {
    background-color: #F2F4F4  !important;
}
.fa-buscar{
    background-image: url(../img/search.svg);
    background-repeat: no-repeat; 
     background-position: 2px 3px;
 }
 .fa-agregar{
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat; 
     background-position: 2px 3px;
 }
.fa-actualizar{
    background-image: url(../img/refresh.svg);
    background-repeat: no-repeat; 
     background-position: 2px 3px;
 }
 .fa-ordenar{
    background-image: url(../img/sort-by-alphabet\ \(1\).png);
    background-repeat: no-repeat; 
     background-position: 2px 3px;
 }

 .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}